.w-100{
    width: 100%;
}
.d-flex{
    display: flex;
}
.lista{
    width: 500px;
}
.lista tbody:nth-child(even){
    background-color: gray;
}
@media (min-width: 768px) {
    .m-md-auto{
        margin: auto;
    }
}